
{% block stylesheets %}

<link rel="stylesheet" href="/packages/editor.md/css/style.css" />
<link rel="stylesheet" href="/packages/editor.md/css/editormd.css" />

{% endblock %}


{% block content %}  


       <div class="simple-text-widget">
         {% if markdown is empty %}
              <div class="empty-widget empty-placeholder placeholder-lg text-center">
                 {{ 'widget_no_content'|trans({}, 'platform') }}
              </div>
           {% else %}
               <div class="deck-container" style="height:400px;width600px">
                    
                      {% autoescape false %} 
                     {{ htmlcontent }}
                     {% endautoescape %}



                </div>
           {% endif %}



         </div>

{% endblock %}


